@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@300;400&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Chakra Petch', sans-serif;
}

:root {
    --text-color: rgb(255, 255, 255); 
    --mirror-bg: rgba(0, 0, 0, 0.1);
}

html {
    background: url(images/earth-bg.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 5rem;
}

.header-class {
    width: 70%;
    height: 10rem;
    background: var(--mirror-bg);
    border-radius: 16px;
    box-shadow: 0 4px 30px var(--mirror-bg);
    backdrop-filter: blur(2.1px);
    -webkit-backdrop-filter: blur(2.1px);
    border: 1px solid  rgba(255, 255, 255, 0.04);
    /* border: 1px solid red; */
    color: var(--text-color);
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-div {
    width: 70%;
    display: flex;
    justify-content: space-around;
}

.header-title {
    font-size: 50px;
    font-weight: 600;
}

.time {
    position: relative;
    top: 2px;
    font-size:50px;
}

main {
    width: 70%;
    height: 70vh;
    display:flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    flex-wrap: wrap;
    margin-top: 1.5rem;
    color: var(--text-color);
}

.left-col {
    width: 30%;
    height: 100%;
}

.right-col {
    width: 68%;
    height: 100%;
    margin-left: 2%;
    background: var(--mirror-bg);
    border-radius: 16px;
    box-shadow: 0 4px 30px var(--mirror-bg);
    backdrop-filter: blur(2.1px);
    -webkit-backdrop-filter: blur(2.1px);
    border: 1px solid  rgba(255, 255, 255, 0.04);
}

.left-col-element {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 45%;
    margin-top: 2.5%;
    background: var(--mirror-bg);
    border-radius: 16px;
    box-shadow: 0 4px 30px var(--mirror-bg);
    backdrop-filter: blur(2.1px);
    -webkit-backdrop-filter: blur(2.1px);
    border: 1px solid  rgba(255, 255, 255, 0.04);
}

.left-col div:first-child {
    margin-top: 0;
}

.left-col div:last-child{
    height: 53.5%;
}

.data-table {
    justify-content: space-around;
}

h2 {
    padding-top: 10px;
}

.data-table td {
    padding: 10px;
    line-height: 18px;
}

.daylight-moonlight {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.4rem;
    background: rgba(1, 1, 1,0.2);
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}


.sun-icon, .moon-icon {
    height: 26px;
    display: none;
}
