@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@300;400&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Chakra Petch', sans-serif;
}

:root {
    --white: #ffffff;
    --text-color: #ffffff; 
    --mirror-bg: rgba(0, 0, 0, 0.1);
    --center-button-border: rgba(85, 85, 85, 0.329);
    --center-button-bg: rgba(59, 59, 59, 0.2);
}

html {
    background: url(images/earth-bg.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 5rem;
}

.mirror {
    background: var(--mirror-bg);
    border-radius: 16px;
    box-shadow: 0 4px 30px var(--mirror-bg);
    backdrop-filter: blur(2.1px);
    -webkit-backdrop-filter: blur(2.1px);
    border: 1px solid  rgba(255, 255, 255, 0.04);
}

.round-border {
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.header-class {
    width: 70%;
    height: 10rem;
    color: var(--text-color);
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-div {
    width: 70%;
    display: flex;
    justify-content: space-between;
}

.header-title {
    font-size: 50px;
    font-weight: 600;
}

.time {
    position: relative;
    top: 2px;
    font-size:50px;
}

main {
    width: 70%;
    height: 70vh;
    display:flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    flex-wrap: wrap;
    margin-top: 1.5rem;
    color: var(--text-color);
    z-index: 2;
}

.left-col {
    width: 30%;
    height: 100%;
}

.right-col {
    width: 68%;
    height: 100%;
    margin-left: 2%;
    display: block;
}

.left-col-element {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 30vh;
    margin-top: 2.5%;
}

.left-col div:first-child {
    margin-top: 0;
}

.left-col div:last-child{
    height: 53.5%;
}

h2 {
    padding: 10px 5px;
}

.data-table td {
    padding: 10px;
    line-height: 18px;
}

.daylight-moonlight {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.4rem;
    background: rgba(1, 1, 1,0.2);
}


.sun-icon, .moon-icon {
    height: 26px;
    display: none;
}

.person {
    padding: 5px;
    font-size: 18px;
}


#issMap {
    height: 100%;
    z-index: 0;
}

.center-button {
    z-index: 10;
    width: 6rem;
    height: 1.8rem;
    position: absolute;
    top: 10px;
    right: 10px;
    border: 0.6px var(--center-button-border) solid;
    outline: none;
    background: var(--center-button-bg);
    transition: .4s ease-in-out;
    -webkit-transition: .4s ease-in-out;
    -moz-transition: .4s ease-in-out;
    -ms-transition: .4s ease-in-out;
    -o-transition: .4s ease-in-out;
}

.center-button:hover {
   cursor: pointer;
   transform: scale(1.05);
   -webkit-transform: scale(1.05);
   -moz-transform: scale(1.05);
   -ms-transform: scale(1.05);
   -o-transform: scale(1.05);
   --center-button-bg: rgba(59, 59, 59, 0.4);
}

.information-window {
    position: fixed;
    height:36rem;
    width:34rem;
    display: none;
    z-index: 100;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    animation: fade-slide-in 0.3s ease-out reverse;
    -webkit-animation: fade-slide-in 0.3s ease-out reverse;
}

.information-window.visible {
    display: block;
    animation: fade-slide-in 0.3s ease-out forwards;
    -webkit-animation: fade-slide-in 0.3s ease-out forwards;
}
  

.information-window::before {
    content: '';
    background: url(images/iss.jpg) no-repeat center center fixed;
    position: absolute;
    inset: 0;
    opacity: 0.5;
}

.close-window-btn {
    align-content: center;
    position: absolute;
    top: 25px;
    right: 25px;
    outline: none;
    border: none;
    background: none;
}   

.close-window-btn img {
    transition: 0.3s linear;
    -webkit-transition: 0.3s linear;
    -moz-transition: 0.3s linear;
    -ms-transition: 0.3s linear;
    -o-transition: 0.3s linear;
}

.close-window-btn img:hover {
    transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
}

.information-text {
    font-size: 15px;
    margin: 60px 10px;
    position: relative;
    color: var(--text-color)
}

.info-paragraph {
    margin-top: 10px;
    
}

.info-paragraph:first-child {
    margin: 0;
}

#iss-wikipedia-hyperlink {
    text-decoration: underline;
    font-weight: bold;
    color: var(--white);
}

#backdrop {
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.9);
  z-index: 10;
  pointer-events: none;
  display: none;
}

#backdrop.visible {
    display: block;
    pointer-events: all;
}

#open-info-btn {
    text-decoration: underline;
    text-underline-offset: 5px;
}

#open-info-btn:hover {
    cursor: pointer;
}


@keyframes fade-slide-in {
    from {
      transform: translateY(-5rem);
    }
    to {
      transform: translateY(0);
    }
}
  
 

